@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script&family=Merriweather&family=Great+Vibes&display=swap');

:root {
    --cor-principal: #876F4A;
    --cor-secundaria: #FFEEF7;
    --cor-principal-escura: #735e3f;
    --cor-principal-clara: #ae936b;
    --cor-de-fundo: #ffd9ed;
}

.cor-principal {
    color: var(--cor-principal);
}

.cor-secundaria {
    color: var(--cor-secundaria);
}

.cor-principal-escura {
    color: var(--cor-principal-escura);
}

.titulo {
    font-family: 'Great Vibes', cursive;
}

.subtitulo {
    font-family: 'Carattere', cursive;
}

.texto {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem;
}

html {
  font-size: 1rem;
}

body {
    background-size: 3em 3em;
    background: #ffffff linear-gradient(45deg, transparent 49%, var(--cor-de-fundo) 49% 51%, transparent 51%) linear-gradient(-45deg, transparent 49%, var(--cor-de-fundo) 49% 51%, transparent 51%);
    opacity: 1
}

.board {
    background-color: #ffffff;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #ffffff !important;
}

.btn-golden {
    background-color: var(--cor-principal);
    color: white;
}

.btn-golden:focus {
    border-color: var(--cor-principal-escura);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(174,147,107, 0.25);  /*  cor principal clara */
}

.btn-golden:hover {
    background-color: var(--cor-principal-escura);
    color: white;
}

.btn-outline-golden {
    border-color: var(--cor-principal);
    background-color: transparent;
    color: var(--cor-principal);
}

.btn-outline-golden:hover {
    border-color: var(--cor-principal);
    background-color: var(--cor-principal);
    color: white;
}

.card-hand:hover {
    cursor: pointer;
}

.input-custom::selection {
    color: var(--cor-principal);
    background-color: white;
}

.input-custom:focus {
    color: var(--cor-principal);
    background-color: white;
    border-color: var(--cor-principal-escura);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(174,147,107, 0.25);  /*  cor principal clara */
}

.form-control:focus {
    color: var(--cor-principal-escura);
    border-color: var(--cor-principal-escura);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(174,147,107, 0.25);  /*  cor principal clara */
}

.form-control {
    color: var(--cor-principal-escura);
}