@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script&display=swap');

 :root {
  --font: #876F4A;
}

body {
    background-color: #ffffff;
}

.titulo-escuro {
    font-family: 'Dancing Script', cursive;
    color: #363636;
}

.titulo-claro {
    font-family: 'Dancing Script', cursive;
    color: var(--font);
}

.texto {
    font-family: 'Caveat', cursive;
    color: var(--font);
    font-size: 20pt;
}