{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H - Local do evento
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h1 class="subtitulo text-center">Galeria de fotos</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="texto text-center">
                            Um espaço de lembranças!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for photo in photos %}
                <div class="col">
                    <div class="card">
                        <img src="{{ photo }}" class="card-img-top" alt="Foto do card">
                        <!--<div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}