{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H · Galeria de Fotos
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-block d-xl-none">
            <div class="d-flex justify-content-center">
                <img
                    alt="um cachorro humanizado tirando uma fotografia com uma câmera nas mãos"
                    src="{% static 'marriage/img/icons/fotos.png' %}"
                    style="width: 20%;"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="subtitulo cor-principal-escura text-center">Galeria de fotos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="lead texto cor-principal text-center">Em breve</p>
        </div>
    <div class="row">
        <div class="col-12 d-none d-xl-block">
            <div class="d-flex justify-content-center">
                <img
                    alt="um cachorro humanizado tirando uma fotografia com uma câmera nas mãos"
                    src="{% static 'marriage/img/icons/fotos.png' %}"
                    style="width: 10%;"
                >
            </div>
        </div>
    </div>
{% endblock %}