{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> <!-- linha única -->
            <div class="col-12 col-md-4 order-2 order-md-1">
                <div class="align-items-start">
                    <div class="d-flex justify-content-center">
                        <img
                            alt="lírio rosa"
                            src="{% static 'images/icons/flor_rosa.png' %}"
                            style="width: 300px;"
                        >
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2">
                <div class="align-items-start">
                    <div class="d-flex justify-content-center">
                        <h1 class="titulo cor-principal text-center">Juliana & Henry</h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3 class="subtitulo cor-principal text-center">Bem-vindo a este momento especial!</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="texto cor-principal text-center">
                            Ficamos muito felizes por você fazer parte deste capítulo
                            em nossas vidas. Aqui, você encontrará uma pequena
                            galeria de fotos, e as informações do local onde celebraremos
                            nosso matrimônio.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 order-3 order-md-3">
                <div class=" align-items-start">
                    <div class="d-flex justify-content-center">
                        <img
                            alt="lírio bege"
                            src="{% static 'images/icons/flor_bege_invertida.png' %}"
                            style="width: 300px;"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}