{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H · Local do evento
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">  <!-- linha única -->
            <div class="col-12 col-xl-2">  <!-- coluna do cachorrinho -->
                <div class="row">
                    <div class="col-12 d-none d-xl-block">
                        <h1 class="subtitulo">‎ </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-block d-xl-none"></div>
                    <div class="col-4 col-xl-12">
                        <img class="img-fluid" src="{% static 'img/icons/local.webp' %}"
                             alt="um cachorro humanizado com um mapa na mão"
                        >
                    </div>
                    <div class="col-4 d-block d-xl-none"></div>
                </div>
            </div>
            <div class="col-12 col-xl-4">  <!-- coluna do título e informações textuais -->
                <div class="row">
                    <div class="col-12">
                        <h1 class="subtitulo cor-principal-escura text-center text-xl-start">Local do evento</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <dl class="row text-center text-md-start">
                                    <dt class="col-12 col-md-3 texto cor-principal-escura">Salão</dt>
                                    <dd class="col-12 col-md-9 texto cor-principal">Quintal 155</dd>

                                    <dt class="col-12 col-md-3 texto cor-principal-escura">Endereço</dt>
                                    <dd class="col-12 col-md-9 texto cor-principal">
                                        <ul class="list-unstyled">
                                            <li>Rua Motorista Mariano, 155</li>
                                            <li>Bairro Nossa Senhora das Dores</li>
                                            <li>Santa Maria, Rio Grande do Sul</li>
                                        </ul>
                                    </dd>

                                    <dt class="col-12 col-md-3 texto cor-principal-escura">Data e Hora</dt>
                                    <dd class="col-12 col-md-9 texto cor-principal">
                                        <ul class="list-unstyled">
                                            <li>18 horas</li>
                                            <li>Sábado, 13 de abril de 2024</li>
                                        </ul>
                                    </dd>

                                    <dt class="col-12 col-md-3 texto cor-principal-escura">Traje</dt>
                                    <dd class="col-12 col-md-9 texto cor-principal">Esporte fino</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">  <!-- coluna do mapa -->
                <div class="row">
                    <div class="col">
                        <div class="ratio ratio-16x9">
                            <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.983552885914!2d-53.79765312525441!3d-29.691256514986925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9503cbf18b8ba1ed%3A0x3467d1ebc31ef413!2sQuintal%20155!5e0!3m2!1spt-BR!2sbr!4v1704136523118!5m2!1spt-BR!2sbr"
                                    style="border:0;"
                                    allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}