<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon-32x32.png' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block additional-stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/casamento/master.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a id="brand" class="navbar-brand titulo" href="#" style="color: var(--cor-principal-escura);">
                Juliana & Henry
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <!--<span class="navbar-toggler-icon"></span>-->
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="nav-link-index" class="nav-link texto" href="/index">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link-local" class="nav-link texto" href="/local">Local do evento</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link-presentes" class="nav-link texto" href="/presentes">Lista de presentes</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link-presenca" class="nav-link texto" href="/presenca">Confirmar presença</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link-fotos" class="nav-link texto" href="/fotos">Galeria de fotos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container board shadow-sm p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>

</body>
<script type="application/javascript">
    function activateLink() {
        let path = window.location.pathname;
        let page = path.split("/").pop();
        if(page.includes(".")) {
            page = page.substring(0, page.indexOf('.'));    
        }
        let element = null;
        if(page.length === 0) {
            element = document.getElementById('nav-link-index');
        } else {
            element = document.getElementById('nav-link-' + page);
        }
        if(element != null) {
            element.classList.add('active');
            element.style.color = 'var(--cor-principal)';
            element.style.opacity = 0.9;
        }
    }
    activateLink();
</script>
{% block scripts %}{% endblock %}
</html>