{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H · Confirmar Presença
{% endblock %}

{% block content %}
<div class="d-flex row row-cols-md-2 row-cols-sm-1">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col">
                <h2 class="subtitulo cor-principal">Confirmar Presença</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="texto cor-principal">
                    Você pode confirmar sua presença de duas maneiras:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="texto cor-principal">
                    Ligando ou mandando uma mensagem para<br/><b>(55) 999 999 999</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="texto cor-principal">
                    Preenchendo o formulário a seguir:
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="d-flex justify-content-center">
            <script>(function (t, e, s, n) {
                var o, a, c;
                t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = "https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdwIzwI7Gp0lsWUQsnsR5mBaZyttNLflTtw22MUcoZaxV.js", a.parentNode.insertBefore(c, a))
            })(window, document, "script", "smcx-sdk");</script>
            <!--
            <div class="ratio ratio-16x9">
                <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSdKkImyNnyeSNoYJtXoIRRNzvX8-AOiwuX19DFVSRyab1RHcA/viewform?embedded=true"
                allowfullscreen
                >
                </iframe>
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}