{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H · Lista de presentes
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-block d-md-none">
            <div class="d-flex justify-content-center">
                <img
                    alt="um cachorro humanizado segurando uma caixa de presentes"
                    src="{% static 'images/icons/presentes.png' %}"
                    style="width: 30%;"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="subtitulo cor-principal-escura text-center">Lista de Presentes</h1>
        </div>
    </div>
    <div class="modal fade" id="modalCodigoPix" tabindex="-1" aria-labelledby="modalCodigoPixLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title subtitulo cor-principal-escura" id="modalCodigoPixLabel">Instruções</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ol class="texto cor-principal">
                        <li>Leia o QR Code ou copie a chave PIX;</li>
                        <li>Mude o valor para a quantia desejada;</li>
                        <li>Finalize a transferência pelo seu banco.</li>
                    </ol>
                    <div class="d-flex justify-content-center">
                        <img
                            src="{% static 'images/gifts/qrcode.png' %}"
                            class="card-img-top" alt="QR Code" style="width: 50%; padding-bottom: 20px;"
                        >
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="row row-cols-1 g-2 row-cols-md-2">
                            <div class="col col-12 col-md-8">
                                <!--<label for="campoTextoCodigoPix" class="form-label">Copiar código</label>-->
                                <input
                                    type="text"
                                    style="background-color: var(--cor-principal-clara); color: white; padding-left: 10px;"
                                    id="campoTextoCodigoPix"
                                    class="form-control form-control-plaintext input-custom texto text-center"
                                    aria-describedby="text" readonly
                                    value="ju.mozza@gmail.com"
                                >
                            </div>
                            <div class="col col-12 col-md-1">
                            </div>
                            <div class="col col-12 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <button
                                        type="button"
                                        id="buttonCopiarCodigoPix"
                                        class="btn btn-outline-golden texto"
                                    >
                                        Copiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-golden texto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 align-items-center">
        {% for gift in gifts %}
             {% if forloop.counter0 == 0 %}
                <div class="col d-none d-md-block">
                    <div class="d-flex justify-content-center">
                        <img
                            alt="um cachorro humanizado segurando uma caixa de presentes"
                            src="{% static 'images/icons/presentes.png' %}"
                            style="width: 40%;"
                        >
                    </div>
                </div>
            {% endif %}
            <div class="col">
                <div class="card">
                    <img src="{{ gift.imagem }}" class="card-img-top" alt="Foto do card">
                    <div class="card-body">
                        <h5 class="card-title texto cor-principal">{{ gift.titulo }}</h5>
                        <p class="card-text texto cor-principal">R$ {{ gift.valor }}</p>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="btn btn-golden texto"
                               data-bs-toggle="modal" data-bs-target="#modalCodigoPix">
                                Presentear esse
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
<script type="application/javascript">
    function reativarBotao() {
        let button = document.getElementById("buttonCopiarCodigoPix");
        button.classList.replace("btn-golden", "btn-outline-golden");
        button.innerHTML = "Copiar";
    }

    function copiarCodigoPix() {
        let button = document.getElementById("buttonCopiarCodigoPix");

        let inputField = document.getElementById("campoTextoCodigoPix");

        // copia o código pix
        inputField.select();
        inputField.setSelectionRange(0, 99999);  // para dispositivos móveis
        navigator.clipboard.writeText(inputField.value);

        button.classList.replace("btn-outline-golden", "btn-golden");
        button.innerHTML = "Copiado!";

        let timeoutID = setTimeout(reativarBotao, 5000);
    }
    document.getElementById("buttonCopiarCodigoPix").addEventListener("click", copiarCodigoPix);
</script>
{% endblock %}