{% extends "casamento/master.html" %}

{% load static %}

{% block title %}
    J&H · Confirmar Presença
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> <!-- linha principal -->
            <div class="col-md-4 col-sm-12 order-3 order-md-1">  <!-- cachorrinho -->
                <!--<div class="row">
                    <div class="col">
                        <h2 class="subtitulo">‎ </h2>
                    </div>
                </div>-->
                <div class="d-flex justify-content-end">
                    <img
                            alt="um cachorro humanizado com um convite na mão"
                            src="{% static 'images/icons/confirmacao.png' %}"
                            style="width: 120px;"
                    >
                </div>
            </div>
            <div class="col-md-8 col-sm-12 order-1 order-md-2">
                <div class="row">
                    <div class="col">
                        <h2 class="subtitulo cor-principal">Confirmar Presença</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="texto cor-principal">
                            Você pode confirmar sua presença de duas maneiras:
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="texto cor-principal">
                            Ligando ou mandando uma mensagem para<br/><b>(55) 999 999 999</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="texto cor-principal">
                            Preenchendo o formulário a seguir:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-12 order-3 order-md-1">  <!-- cachorrinho -->
            </div>
            <div class="col-md-10 col-sm-12 order-2 order-md-3">
                <div class="d-flex justify-content-end">
                    <script>(function (t, e, s, n) {
                        var o, a, c;
                        t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = "https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdwIzwI7Gp0lsWUQsnsR5mBaZyttNLflTtw22MUcoZaxV.js", a.parentNode.insertBefore(c, a))
                    })(window, document, "script", "smcx-sdk");</script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}